<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
<!--    <suite name="All Test Suite" parallel="tests" thread-count="3">-->
    <parameter name="automation_name" value="uiautomator2"></parameter>
    <parameter name="platform_name" value="android"></parameter>
<!--    <parameter name="appPackage" value="com.lazada.android"></parameter>-->
<!--    <parameter name="appActivity" value="com.lazada.activities.EnterActivity"></parameter>-->
    <parameter name="appPackage" value="vn.tiki.app.tikiandroid"></parameter>
    <parameter name="appActivity" value="vn.tiki.android.shopping.homeV3.HomeActivity"></parameter>
    <parameter name="port_number" value="4724"></parameter>
    <parameter name="timeout" value="60000"></parameter>
    <parameter name="pollingInterval" value="100"></parameter>
    <parameter name="runServiceAuto" value="true"></parameter>
<!--    <test name="Lenovo">-->
<!--        <parameter name="udid" value="HVA222NA"></parameter>-->
<!--        <classes>-->
<!--            <class name="RunnerTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Google Pixel 2-Clone">-->
<!--        <parameter name="udid" value="emulator-5554"></parameter>-->
<!--        <classes>-->
<!--            <class name="RunnerTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Google Pixel 2">-->
<!--        <parameter name="udid" value="emulator-5556"></parameter>-->
<!--        <classes>-->
<!--            <class name="RunnerTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="Lenovo TB">
        <parameter name="udid" value="HVA222NA"></parameter>
        <classes>
            <class name="RunnerTest"></class>
        </classes>
    </test>
</suite>
